<p-table
  #table
  [value]="rows"
  [dataKey]="rowKey"
  [loading]="loading"
  [paginator]="paginator"
  [rows]="rowsPerPage"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  [globalFilterFields]="globalFilterFields"
  [scrollable]="scrollable"
  [scrollHeight]="scrollHeight"
  [rowHover]="true"
  [stripedRows]="striped"
  [showGridlines]="showGridlines"
  [tableStyle]="{ 'min-width': '820px' }"
  [styleClass]="'to-data-table'"
>
  @if (globalFilterValue) {
    {{ table.filterGlobal(globalFilterValue, 'contains') }}
  }

  <ng-template pTemplate="header">
    <tr>
      @for (column of columns; track column.field) {
        <th
          [style.width]="column.width"
          [pSortableColumn]="isSortable(column) ? column.field.toString() : undefined"
        >
          <div class="to-data-table__th">
            <span>{{ column.header }}</span>

       
          </div>
        </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr (click)="rowClick.emit(row)">
      @for (column of columns; track column.field) {
        <td>
          @switch (column.type) {
            @case ('tag') {
              <p-tag
                [value]="getValue(row, column.field.toString())"
                [severity]="tagSeverity(getValue(row, column.field.toString()))"
              />
            }

            @case ('mono') {
              <span class="to-data-table__mono">
                {{ getValue(row, column.field.toString()) }}
              </span>
            }

            @case ('date') {
              <span>
                {{ formatDate(getValue(row, column.field.toString())) }}
              </span>
            }

            @case ('number') {
              <span class="to-data-table__number">
                {{ getValue(row, column.field.toString()) }}
              </span>
            }

            @default {
              <span>
                {{ getValue(row, column.field.toString()) || '-' }}
              </span>
            }
          }
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="loadingbody">
    @for (_ of [1, 2, 3, 4, 5]; track _) {
      <tr>
        @for (column of columns; track column.field) {
          <td>
            <div class="to-data-table__skeleton"></div>
          </td>
        }
      </tr>
    }
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length">
        <div class="to-data-table__empty">
          {{ emptyMessage }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>