<section class="to-basic-page" data-testid="server-error-page">
  <div class="to-basic-page__icon to-basic-page__icon--danger">
    <i class="fa-solid fa-server"></i>
  </div>

  <h1 class="to-basic-page__title">Server Error</h1>

  <p class="to-basic-page__text">
    Something went wrong on our side. Please try again later.
  </p>

  <a
    pButton
    routerLink="/dashboard"
    label="Back to Dashboard"
    icon="pi pi-arrow-left"
    data-testid="server-back-dashboard-btn"
  ></a>
</section>