<header class="to-topbar">
  <button type="button" class="to-topbar__btn">
    <i class="pi pi-bars"></i>
  </button>

  <button type="button" class="to-topbar__search">
    <i class="pi pi-search"></i>
    <span>Search...</span>
  </button>

  <div class="to-topbar__spacer"></div>

  <button type="button" class="to-topbar__btn">
    <i class="pi pi-bell"></i>
    <span class="to-dot"></span>
  </button>

  <button type="button" class="to-topbar__tenant">
    <span>du Telecom</span>
    <i class="pi pi-chevron-down"></i>
  </button>

  <button type="button" class="to-avatar">
    {{ 'AB' }}
  </button>
</header>